.main_page_bg {
  background-color: #18122b;
  height: 100vh;
  padding-left: 700px;
  padding-right: 700px;
}

.icon_banks {
  color: gainsboro;
}

.header_content_bank {
  color: gainsboro;
}

.header_cell_bank{
    color: gainsboro;
}