.body
{
  background-color: white;
  
}


.icon_borrow {
    color: white;
  }
  
  .header_content_borrow {
    color: white;
  }

  .banking_page_bg::-webkit-scrollbar {
    display: none;
  }

  i.icon{
    color: white;
  }

  .ui.pagination.menu .item {
    color: white;
  }