body {
    background-color: #18122B;
}

.main_page_branch_bg{
    background-color: #18122B;
    padding-left: 700px;
    padding-right: 700px;
    /* height:100vh; */
}

.bredcrumbs_branch{
    color: gainsboro;
}

.header_content_branch{
    color: gainsboro;
}

.icon_branch{
    color: gainsboro;
}

.card_connect_branch{
    color: #393053;
}

.table_branch{
    color: #393053;

}

.ui.table{
    background-color:  #443C68;
    border-radius: 30px !important;
}

/* .accordian_title_branch{
    background-color: gainsboro;
    margin-left: 35rem;
    margin-right: 35rem;
} */


.ui.accordion .title:not(.ui){
    color: gainsboro;
    background-color: #443C68;
    display: flex;
    align-items: start;
    border-radius: 20px;
}

.ui.card.branch_card{

    height: 100% !important;
    width: 20%;
    border-radius: 20px;
    margin-top: 10rem !important;
    display: grid !important;
    justify-content: center !important;
}
/* .App {
    display: flex;
    text-align: center;
} */

.ui.form .field{
    width: 340px !important;
}
.ui.message{
    display: flex !important;
    text-align: center !important;
    margin-top: 200px !important;
    /* margin-right: 600px !important; */
    margin-left: 650px !important;
    height: 200% !important;
    width: 30% !important;
    

}

.ui.green.button.approve_btn_branch, .ui.green.buttons .button{
    margin-left: 80px;
  } 

.ui.icon.message>.icon:not(.close){
    color: black;
}
.ui.form .eight.fields .ui.input input, .ui.form .five.fields .ui.input input, .ui.form .four.fields .ui.input input, .ui.form .nine.fields .ui.input input, .ui.form .seven.fields .ui.input input, .ui.form .six.fields .ui.input input, .ui.form .ten.fields .ui.input input, .ui.form .three.fields .ui.input input, .ui.form .two.fields .ui.input input, .ui.form .wide.field .ui.input input{
    background-color: gainsboro
}

.ui.form .field>label{
    color: gainsboro !important;
}

.ui.icon.message{
    height: 150px !important;
    font-size: x-large;
    background-color: gainsboro;
    border-radius: 30px;
    position: relative;
}

@media screen and (max-width: 1480px){
    .main_page_branch_bg{
        padding-left: 400px;
        padding-right: 400px;
    }



}