body {
    background-color: #18122B;
}

.main_page_branch_bg{
    background-color: #18122B;
    padding-left: 100px;
    padding-right: 100px;
    /* height:100vh; */
}

.bredcrumbs_branch{
    color: white;
}

.header_content_branch{
    color: white;
}

.icon_branch{
    color: white;
}

.card_connect_branch{
    color: #393053;
}

.table_branch{
    color: #393053;

}

.ui.table{
    background-color:  #443C68;
}

/* .accordian_title_branch{
    background-color: white;
    margin-left: 35rem;
    margin-right: 35rem;
} */


.ui.accordion .title:not(.ui){
    color: white;
    background-color: #443C68;
    display: flex;
    align-items: start;
    border-radius: 20px;
}