.icon_forex {
    color: gainsboro;
  }
  
  .header_content_forex {
    color: gainsboro;
  }

  .ui.grid>.row>.column {
    color: gainsboro;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 3rem;
  }

  .ui.grid>*{
    padding-right: 2rem !important;
  }

  .banking_page_bg{
    overflow: hidden;
  }