.icon_forex {
    color: gainsboro;
  }
  
  .header_content_forex {
    color: gainsboro;
  }

  .ui.grid>.row>.column {
    color: gainsboro;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 3rem;
  }

  .ui.grid>*{
    padding-right: 2rem !important;
  }

  .banking_page_bg{
    overflow: hidden;
  }

  .paginationBttns {
    width: 100%;
    height: 55px;
    list-style: none;
    display: flex;
    justify-content: right;
  }

  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #393053;
    color: #635985;
    cursor: pointer;
  }

  .paginationBttns a:hover {
    color: gainsboro;
    background-color: #393053;
  }
  
  .paginationActive a {
    color: gainsboro;
    background-color: #393053;
  }

  .paginationDisabled a {
    color: black;
    background-color: black;
    cursor:not-allowed;
  }