.icon_forex {
    color: white;
  }
  
  .header_content_forex {
    color: white;
  }

  .ui.grid>.row>.column {
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .banking_page_bg{
    overflow: hidden;
  }