.ui.vertical.segment:last-child {
  background-color: #393053;
}

.ui.small.image.img_home, .ui.small.images .image, .ui.small.images img, .ui.small.images svg{
  height: 40px;
  width: 60px;
  padding-left: 20px;
  color: white;
}

.ui.blue.button {
  background: linear-gradient(to left,#4040b1  0%, #865DFF 100%);
  opacity: 5;
  

}

.ui.header:first-child{
  background: linear-gradient(to left,#4040b1  0%, #865DFF 100%);
  color: gainsboro;
font-family:monospace ;
  border-radius: 70px;
  box-shadow: 0 0 10px 5px rgba(26, 22, 28, 2);
}

element.style{
  margin-top: 2rem;
}

.img_fuel_home{

  padding-top: 5px;
  border-radius: 20px;
  display: flex;
}